<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.lawliex.ask">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AskApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.BeginActivity"></activity>
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".questionlist.QuestionListActivity"
            android:label="@string/title_activity_question_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".question.list.QuestionListActivity"
            android:label="@string/title_activity_question_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>